div {
  font-family: Arial;
}

.inbox {
  width: 400px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.title {
  color: rgb(100, 100, 100);
  margin-bottom: 20px;
  font-size: 14px;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.fromContainer {
  margin-right: 10px;
}

.fromLogo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.content {
  flex: 1;
}

.topLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.sender {
  font-size: 18px;
  font-weight: bold;
}

.time {
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.subjectLine {
  font-weight: bold;
  margin-bottom: 5px;
}

.message {
  color: rgb(100, 100, 100);
}